[user]
	email = markromphf@gmail.com
	name = Mark Romphf
[core]
	autocrlf = true
	editor = vim
[color]
	ui = true
[alias]
	aa = add -A
	b = branch
	c = commit
	co = checkout
	dc = diff --cached
	di = diff
	fa = fetch --all
	lg = log --branches --all --graph --decorate --format=format:\"%C(yellow)%h%C(auto)%d %Creset%s %C(cyan)(%ar) %Cgreen<%an>\" -n 20
	ls = diff-tree --no-commit-id --name-only -r
	pr = pull --rebase
	rb = rebase --verbose
	sh = show
	sh1 = show HEAD~1
	st = status -sb
	sw = switch
	t = tag
	tr = tag --sort=-refname
[merge]
	tool = vimdiff
